<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <script src="https://unpkg.com/cursor-effects@latest/dist/browser.js"></script>
        <script>
            window.addEventListener("load", (event) => {
            new cursoreffects.fairyDustCursor();
            });
        </script>
    </head>
<style>
    
</style>
    <body>
        
            
        
        <div id="page-container">
            <!-- 4. under page container, and in fact maybe as a part of it add the grid-template-areas there instead of in the grid container. Experiement with it, but it should be at the top of your page hierarchy -->
            {% include navigation.html %}
            <!-- 1. go into main.scss and change the nav CSS to have grid-area: nav -->
            <!-- <h1>{{ page.title }}</h1> -->
        <article class="grid-container">
            <!-- 2. this should have a class of... something. Pick a name. and it should have the grid-area: main applied to it. -->
            {{ content }}
        </article>        
        </div>
    </body>
    
    <footer> 
        <!-- 3. this needs to get a grid-area of footer. -->
        <p>~~~</p>
        <div class = "footer-container">
            <!-- id="footer"> -->
            <a href="./about">About</a>
            <a href="./staff">Staff</a>
            
        </div>
    </footer>
        
    <!-- </body> -->

</html>